<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What is sleep apnea?</summary>
          <p>Sleep apnea is a disease in which the patient completely stops breathing (apnea) or experiences reduced breathing (hypopnea) intermittently and repeatedly throughout a night.
<br />
Apneas and hypopneas disturb the sleep and cut off the oxygen supply, resulting in hypoxemia, fatigue, and poor mental performance. The exhibited symptoms include snoring, tossing and turning, sore throat, fatigue, teeth grinding, which are easily overlooked or attributed to other factors. Sleep apnea is linked to higher risks cardiovascular disease, stroke, and diabetes.

	  </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Who is affected by sleep apnea?</summary>
          <p>This is chronic health condition affects over 100 million people in the world today. Despite this astonishing number, an estimated 90% of people with OSA remain undiagnosed. It is hard to estimate the total cost lost to consequences such as productivity decrease due to chronic fatigue, comorbidity healthcare treatments, and increased motor accidents. One report estimated health-burden cost of untreated sleep apnea on the U.S. healthcare system to be over $3.4 billion dollars per year.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I know if I have sleep apnea?</summary>
          <p>Traditional methods include overnight sleep studies that can cost up to thousands of dollars or in-home sleep monitors that are difficult to use with long wait times. 
<br />
With 3zeasy, you can be empowered to test yourself as soon you receive our test kit. We can analyze the results and help you submit the report to your family doctor or nearest sleep study center. 
<br />
You can take our preliminary sleep apnea survey to assess your risk level <a href="https://docs.google.com/forms/d/12_1QfUQRTdaKSxoLJwRHBUETqX0sCZNdjWDDQyrWT9Y/viewform">here</a>.
	  </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What is 3zeasy?</summary>
          <p>3zeasy is the quickest and most affordable way to get tested for sleep apnea. Instead of waiting an average of 9 months to receive a sleep lab test, we will send you the 3zeasy test kit directly to your door. 3zeasy is unobtrusively on your finger while you sleep. The next day you can send the test kit back in the box it was delivered in. We will analyze your results and direct it to our online patient portal. If you have sleep apnea, we will even help you connect with treatment centers near you to help you find treatment options. With 3zeasy, ll finally stop worrying and get back to sleeping like a baby.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
