<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is 3zeasy?
      </h3>
      <p>
3zeasy is the quickest and most affordable way to get tested for sleep apnea. 3 simple steps: Reserve your test kit, sleep with it, and receive your results. 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
	3zeasy is made to be simple. Wear 3zeasy on your finger comfortably while you sleep. Take it off in the morning. That's it!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        How long before I see my results?
      </h3>
      <p>
	Instead of waiting for 9 months to schedule a sleep lab test, you can get your results online in within a week, all the while not having to leave the comfort of your home!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
	Why wait? Let 3zeasy help you get a better night's sleep!
      <p>
    </div>
  </div>
</div>
